.ipynb_checkpoints
extras.ipynb
.ipynb_checkpoints/3-qubit code_tutorial-checkpoint.ipynb
.ipynb_checkpoints/3-qubit code_tutorial-checkpoint.ipynb
.ipynb_checkpoints/Introduction to Quantum Error-checkpoint.ipynb
.ipynb_checkpoints/short_3_qubit_qec-checkpoint.ipynb
.ipynb_checkpoints/Stabilizer Codes-checkpoint.ipynb
debugging.ipynb
debugging.ipynb
.ipynb_checkpoints/debugging-checkpoint.ipynb
__pycache__/
circuit_specific/__pycache__/
data_management_and_analysis/__pycache__/
general_qec/__pycache__/
.DS_Store
log*txt
.coverage
